<div class="global-container">
  <div class="page-border" [ngStyle]="{'background-color': routeConfig[pageName].bgColor}"></div>
  <div class="global-container-sub">
    <div class="nav-global" [ngStyle]="{'background-image': routeConfig[pageName].bgImage}">
      <div class="nav-container">
        <div class="adjust-nav-height">
          <nav>
            <a (click)="setCurrentPage('home', '/home')">{{routeConfig.home.title}}</a>
            <a (click)="setCurrentPage('writing', '/written-content')">{{routeConfig.writing.title}}</a>
            <a (click)="setCurrentPage('tech', '/tech')">{{routeConfig.tech.title}}</a>
          </nav>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>