
.global-container {
    background-color: #FAF9F6;
    .page-border {
        height: 60px;
    }
}

.global-container-sub {
    background-color: white;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

    .nav-global {
        height: 570px;
        background-repeat: no-repeat;

        .nav-container {
            .adjust-nav-height {
                height: fit-content;
                background-color: rgba(255, 255, 255, 0.4);
                padding: 20px 0;
            }
            nav {
                display: flex;
                justify-content: space-around;
                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: black;
                    width: 150px;
                    text-align: center;
                    border: 1px solid white;
                    background-color: rgba(255, 255, 255, 0.6);
                    border-radius: 5px;
                    padding: 5px 0px;
                }

                a:hover, a:focus{
                    font-weight: 700;
                }
            }
        }
    }



}