<div class="global">
    <div class="header">
        <h1>Shreya Kashi</h1>
        <div class="logos">
            <a href="https://github.com/ShreyaKashi"><img class="logo-ind git-logo" src="assets/GitHub-logo.svg"></a>
            <a href="https://www.linkedin.com/in/shreya-kashi/"><img class="logo-ind link-logo" src="assets/linkedin.svg"></a>
        </div>
    </div>
    
    <div class="intro-parent">
        <div class="intro-text">
            <p>Hello!</p>
            <p>I'm a master's student at Oregon State University studying Computer Science. 
            I'm working on computer vision applications in my research group, particularly on diverse dynamics prediction as a part of the <a href="https://www.darpa.mil/program/machine-common-sense">Machine Common Sense</a> initiative. 
            The objective is to model the uncertainty in the trajectories of scene elements so that the autonomous vehicle can reason about plausible collisions and their probabilities.</p>
            
            <p>DARPA's Machine Common Sense project piqued my interest in how machines reason, interpretable AI, and therefore in Artificial General Intelligence.  I'm particularly curious about drawing parallels between how different species learn and how machines learn (as explored in my <a href="https://docs.google.com/presentation/d/1txEygvsDJ79DT6c8Dl0_1aB89_Vdx3tTKzRw5fs3hGs/edit?usp=sharing">presentation</a> for the course 'Big Ideas in AI').</p>
            
            <p>You can find my resume <a href="assets/resume_shreya.pdf">here</a>.</p>    
        </div>

        <div class="profile-img">
            <img src="assets/profile1.jpg">
        </div>
        

    </div>

    <div class="projects-container">
        <h2>Projects</h2>
        <div class="projects-parent">
            <ol>
                <div>
                    <a href="https://drive.google.com/file/d/1TVO8jzVVdSNwo0qbw99axOchKSVOOsy8/view?usp=drive_link"><li>Stacked Hourglass Network for Efficient Multi-View Pose Estimation, Tracking,
                    and Forecasting</li></a>

                    <div class="button-tile-parent">
                        <div class="button-tile" style="background-color: #bdd0c4;">3D pose estimation</div>
                        <div class="button-tile" style="background-color: #9ab7d3;">3D object detection</div>
                        <div class="button-tile" style="background-color: #f5d2d3;">Stacked hourglass network</div>
                        <div class="button-tile" style="background-color: #f7e1d3">Spatial GRU</div>
                    </div>

                    <!-- <p>Key point detection</p> -->
                    <div class="tempo_imgs">
                        <img src="assets/qual_res1.png">
                        <img src="assets/qual_res2.png">
                    </div>
                    <p>Current state-of-the-art 3D pose estimation techniques use 2D CNNs to regress 2D pose in the projections of 3D volume. However, CNNs fail to capture relative joint label information which is required while predicting human poses. Stacked hourglass network has been used to address label correlation for pose estimation. In this project we replace 2D CNNs with SHG network and show that they offer accuracy boost in pose estimation.</p>
                </div>

                <div>
                    <a href="https://drive.google.com/file/d/12FBl5KFusFCCktN8WmDOWztym4IyOB2L/view?usp=drive_link"><li>Detecting Center Pivot Irrigation Systems in Satellite Images</li></a>
                    <div class="button-tile-parent">
                        <div class="button-tile" style="background-color: #dfccf1;">2D instance segmentation</div>
                        <div class="button-tile" style="background-color: #f7e1d3;">U-net</div>
                        <div class="button-tile" style="background-color: #bdd0c4;">Watershed algorithm</div>
                        <div class="button-tile" style="background-color: #f5d2d3">QGIS</div>
                    </div>
                    <div class="watershed-img">
                        <img src="assets/watershed.png">
                    </div>
                    <p>Center pivot irrigation systems take up a lot of water. For water resource management and planning, it is essential to identify their numbers and the area irrigated by them. In this project we semantically segment these irrigation sytems using a U-net, detect individual instances using the watershed algorithm and regress the angle spanned by them.</p>
                </div>

                <div>
                    <a href="https://github.com/ShreyaKashi/hti-cryo-em/tree/develop"><li>Identifying noisy images in the 2D Classification step of Cryo-EM</li></a>
                    <div class="button-tile-parent">
                        <div class="button-tile" style="background-color: #ffd3b6;">Classification</div>
                        <div class="button-tile" style="background-color: #a8e6cf;">2D CNN</div>
                        <div class="button-tile" style="background-color: #bdeeed">SVM</div>
                        <div class="button-tile" style="background-color: #f0edaa;">Cryo-EM</div>
                    </div>
                    <p>3D density map construction in Cryo-EM requires clear, noise-free averaged 2D images. In this project I used a SVM and CNN to classify each image as clean or noisy based on the EMPAIR annotated dataset as the ground truth.</p>
                </div>

                <div>
                    <a href="https://drive.google.com/file/d/1wWE4e98mETjsbbUCSMyAZAZVWPrenHHs/view"><li>Key Value Pair Extraction from Scanned Documents</li></a>
                    <div class="button-tile-parent">
                        <div class="button-tile" style="background-color: #cfdbdb;">Multimodal</div>
                        <div class="button-tile" style="background-color: #bdd0c4;">BERT</div>
                        <div class="button-tile" style="background-color: #9ab7d3">Faster-RCNN</div>
                        <div class="button-tile" style="background-color: #f5d2d3;">Named-entity recognition</div>
                    </div>
                    <p>Using both layout information (RCNN) and textual association (BERT), extracted key-value pairs in PDF files. </p>
                </div>
            </ol>
            

        </div>
    </div>
</div>

