// .home-banner {
//     background-image: url(../../assets/images/head-flower-img.png);
//     height: 570px;
//     background-repeat: no-repeat;
// }

.home-container {
    margin-left: 15px;
    margin-right: 15px;

    .home-bio {
        padding: 30px;

        .home-bio-interests {
            margin-top: 10px;
        }
    }
    
    .imp-info-container {
        border: 1px solid black;
        padding: 15px;
        border-radius: 5px;
        margin: 50px 20px;

        .contact-child {
            display: flex;
            justify-content: space-between;
            a {
                vertical-align: text-bottom;
                padding-left: 15px;
            }
            .contact-location {
                padding-left: 15px;
            }
        }
    }

    .welcome-container {
        font-family: 'Didot', serif;
        text-align: center;
        margin-top: 30px;
    }
}