:is(a) {
    color: blueviolet;
}

.button-tile-parent {
    margin-top: 15px;
    
    .button-tile {
        display: inline;
        border: 1px solid white;
        border-radius: 5px;
        width: fit-content;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        font-size: 16px;
    }
}


.global {
    max-width: 1200px;
    margin: 100px auto;
    font-size: 20px;
    text-align: justify;

    .header {
        display: flex;
        justify-content: space-between;

        .logos {
            display: flex;
            justify-content: flex-end;
            .logo-ind {
                width: 35px;
                height: 35px;
            }
        }

        .git-logo {
            margin-right: 10px;
        }
        .link-logo {
            margin-left: 10px;
        }
        
    }

    

    .intro-parent {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    
        .intro-text {
            max-width: 950px;
        }
        
    }

    .projects-container:before {
        content: "";
        display: block;
        width: 70%;
        margin: 1em auto 0;
        border-bottom: solid;
    }

    .projects-container {
        :is(li) {
            font-weight: bold;
        }
        margin-top: 50px;
        .projects-parent {
            .tempo_imgs {
                display: flex;
                justify-content: space-evenly;

                :is(img) {
                    max-width: 350px;
                    max-height: 350px;
                    margin: 30px;
                }
            }

            .watershed-img {
                display: flex;
                justify-content: center;
                margin: 30px;
            }
        }
    }
    
}


@media (max-width: 950px) {

    .button-tile-parent {
        
        .button-tile {
            display: inline-block;
            margin: 5px;
        }
    }

    .global {
    
        .intro-parent {
            display: inline-block;

            .profile-img {
                display: flex;
                justify-content: center;
            }
            
        }    

        .projects-container {
            .projects-parent {
                .tempo_imgs {
                    display: inline-block;

                    :is(img) {
                        max-width: 300px;
                    }
                }

                .watershed-img {
                    display: inline-block;

                    :is(img) {
                        max-width: 300px;
                    }
                  
                }
            }
        }
    }

}