<div class="home-container">
    <!-- <h3 class="welcome-container">Shreya Kashi
    </h3> -->

    <div class="home-bio">
        <!-- I am a second year master's student in the School of Electrical Engineering and Computer Science at Oregon State University. I am studying computer sceince. My advisor is Dr. Alan Fern under whose guidance I am contributing to DARPA's Machine Common Sense project and specifically working on predicting object future dynamics in video input -->
        <div>I am a second-year Master's student at Oregon State University's School of Electrical Engineering and Computer Science, where I specialize in computer science. Under the mentorship of <a href="https://web.engr.oregonstate.edu/~afern/">Dr. Alan Fern</a> and <a href="https://scholar.google.com/citations?user=xARSfT4AAAAJ&hl=en">Dr. Chanho Kim</a>, I'm excited to be part of <a href="https://www.darpa.mil/program/machine-common-sense">DARPA's Machine Common Sense project</a>, focusing on predicting object future dynamics in video input.</div>
        <div class="home-bio-interests">I am broadly interested in signal processing and computer vision. I interned at Indian Space Research Organisation and Indian Institute of Science and I was fortunate to have <a href="https://www.aprsaf.org/annual_meetings/aprsaf26/speaker/Diwakar.php">Dr. PG Diwakar</a> as my mentor.</div>
    </div>
   
    <div class="imp-info-container">
        Contact
        <div class="contact-child">
            <span><i class="fa fa-envelope" style="font-size:30px"></i><a href="mailto:kashis@oregonstate.edu">kashis@oregonstate.edu</a></span>
            <span><i class="fa fa-phone" style="font-size:30px"></i><a href="tel:+1 458-272-8637">+1 458-272-8637</a></span>
            <span><i class="fa fa-map-marker" style="font-size:30px"></i><span class="contact-location">Corvallis, Oregon</span></span>
            <span><i class="fa fa-map-marker" style="font-size:30px"></i><span class="contact-location"><a href="linkedin.com/in/shreya-kashi">LinkedIn</a></span></span>
            <span><i class="fa fa-map-marker" style="font-size:30px"></i><span class="contact-location"><a href="github.com/ShreyaKashi">Github</a></span></span>
        </div>
    </div>

    <div class="imp-info-container">
        Resume
        <a href="assets/resume.pdf">Download here</a>
    </div>

    
    <section class="imp-info-container projects-section">
        Updated June 2024
    </section>
</div>